html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  margin: 0px;
  position: absolute;
  text-align: center;
  font-size: 80px; }

h3 {
  font-size: 36px;
  font-weight: bold; }

.parallax h3 {
  margin: 0px;
  position: absolute; }

p {
  font-size: 24px; }

.title {
  z-index: 1000;
  color: #ffffff; }

.desc, .front {
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px 30px; }

.split-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.three .split {
  width: calc(100% / 3 - 10px);
  margin: 0 10px; }

.two .split {
  width: calc(100% / 2 - 10px);
  margin: 0 10px; }

.split:first-child {
  margin-left: 0px; }

.split:last-child {
  margin-right: 0px; }

.container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%; }

section {
  margin: 20px 0; }

.header {
  margin-top: 20px; }

.parallax {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.shadow {
  background-color: #000000;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.4; }

@media screen and (max-width: 680px) {
  .split-view {
    display: block; }
  .split, .two .split, .three .split {
    margin: 20px 0;
    width: 100%; }
  .desc, .front {
    padding: 30px; } }

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

pre[class*="language-"] {
  padding: 1em;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border-radius: 5px;
  background: #eee; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }
